{% extends 'Store/store_index.html'%}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered">
    <tr style="background-color: #828282;color:black">
      <th scope="col">SL.NO</th>
      <th scope="col">CATEGORY</th>
      <th scope="col">PRODUCT NAME</th>
      <th scope="col">DATE</th>
      <th scope="col">IMAGE</th>
      <th scope="col">AMOUNT</th>
      <th scope="col">COUNT</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.CATEGORY.category_name }}</td>
      <td>&nbsp;{{ i.product_name }}</td>
      <td>&nbsp;{{ i.product_date }}</td>
      <td>&nbsp;<img src="{{ i.image }}" alt="" width="100px" height="100px"/></td>
      <td>&nbsp;{{ i.amount }}</td>
      <td>&nbsp;{{ i.count }}</td>
      <td><p><a href="/update_product/{{ i.id }}#ad" class="btn btn-outline-primary">Update</a></p>
      <p><a href="/delete_product/{{ i.id }}" class="btn btn-outline-danger" onclick="return confirm('Are you sure?')">Delete</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}